section.process
  .process__lines
    - for (var i = 0; i < 3; i++)
      div(class="process__line")
  .scroll
    .scroll__controller#controller_1
      .scroll__thumb#thumb_1
    .scroll__container#scrollContainer_1
      .scroll__track#track_1
        .scroll__slide 
          img(src=require("../../assets/img/scroll1.png") alt="picture")
        .scroll__slide 
          img(src=require("../../assets/img/scroll2.png") alt="picture")
        .scroll__slide 
          img(src=require("../../assets/img/scroll3.png") alt="picture")
        .scroll__slide 
          img(src=require("../../assets/img/scroll4.png") alt="picture")
        .scroll__slide 
          img(src=require("../../assets/img/scroll5.png") alt="picture")
        .scroll__slide 
          img(src=require("../../assets/img/scroll6.png") alt="picture")
        .scroll__slide 
          img(src=require("../../assets/img/scroll7.png") alt="picture")

