section.process
	.container
		div#container
			div#slider
		.scroll#scroll
			.scroll__track#track
				.scroll__slide 
					img(src=require("../../images/slide1.png") alt="picture")
				.scroll__slide
					img(src=require("../../images/slide2.png") alt="picture")
				.scroll__slide
					img(src=require("../../images/slide3.png") alt="picture")
				.scroll__slide
					img(src=require("../../images/slide4.png") alt="picture")
				.scroll__slide
					img(src=require("../../images/slide5.png") alt="picture")
				.scroll__slide
					img(src=require("../../images/slide6.png") alt="picture")
				.scroll__slide
					img(src=require("../../images/slide7.png") alt="picture")
